/* fonts */
@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/Lexend/Lexend-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "STIX";
  src: url("../assets/fonts/STIX_Two_Text/STIXTwoText-VariableFont_wght.ttf");
  font-weight: 600;
}
/* global */
* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  font-family: "Lexend", sans-serif;
  color: #211e1b;
  font-weight: 400;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #211e1b;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4 {
  font-family: "STIX";
  font-weight: 600;
  letter-spacing: -1px;
}
button {
  color: inherit;
  border: 1px solid black;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
button p {
  text-transform: uppercase;
}
/* CHECK position and overflow */
.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  object-position: 28% 50%;
}
.header__wrapper {
  display: flex;
  justify-content: center;
}
.header__btn a {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  position: fixed;
  top: 0;
  border: 1px solid black;
  z-index: 5000;
}
.header__nav {
  position: relative;
  z-index: 100;
}
.header__logo {
  background-image: url("../assets/images/logo/warbridge.svg");
}
.header__logo-box {
  display: flex;
  align-items: center;
}
.header__btn p {
  color: #fff;
}
.hero-text__wrapper {
  height: 100vh;
}
.hero-text {
  text-align: center;
  position: relative;
  z-index: 1;
}
.header-burger--cross {
  display: flex;
  background-image: url("../assets/Icons/Close.png");
  width: 19.89px;
  height: 20.09px;
}
.item-img1 {
  background-image: url("../assets/images/carousel/01.png");
}
.item-img2 {
  background-image: url("../assets/images/carousel/02.png");
}
.item-img3 {
  background-image: url("../assets/images/carousel/03.png");
}
.item-img4 {
  background-image: url("../assets/images/carousel/04.png");
}
.carousel {
  display: none;
}
/* CHECK if needed */
.hero-text__heading-box,
.hero-text__description-box {
  display: flex;
  justify-content: center;
}
.header__btn {
  background-color: #f6bf52;
}
.header__btn p {
  color: #211e1b;
}
.carousel-tablet__container {
  display: block;
}
.card__avatar1 {
  background-image: url("../assets/images/team/Member1.png");
}
.card__avatar2 {
  background-image: url("../assets/images/team/Member2.png");
}
.card__avatar3 {
  background-image: url("../assets/images/team/Member3.png");
}
.card__avatar4 {
  background-image: url("../assets/images/team/Member4.png");
}
.contact__paragpraph-rightbox p,
.card__p,
.item-text p:first-child {
  color: #211e1b;
  opacity: 0.5;
}
.contact-left__heading,
.contact-left__heading-box p {
  letter-spacing: -1px;
}
.header-burger {
  display: none;
}

@media (min-device-width: 320px) and (max-device-width: 767px) {
  .header {
    top: 16px;
    width: 335px;
    height: 60px;
    padding: 0 24px;
    position: relative;
  }
  .header__nav {
    display: none;
  }
  .header__logo {
    background-size: cover;
    width: 106px;
    height: 21px;
  }
  .header-burger {
    display: block;
  }
  .header-burger__line {
    width: 28px;
    height: 1px;
    background-color: #211e1b;
  }
  .header-burger__line2 {
    margin: 8px 0;
  }
  .hero__container {
    height: 100vh;
    width: 100%;
  }
  .hero {
    height: 100vh;
    background-color: #fefaed;
  }

  .hero__container {
    height: 620px;
    position: relative;
    z-index: 6545454654654654;
  }
  .hero-text {
    margin-top: 76px;
  }
  .hero-text__container-mini {
    opacity: 1;
    transition: 0.2 ease-in;
  }
  .hero-text__heading {
    font-size: 32px;
    line-height: 36px;
    max-width: 334px;
    margin-bottom: 16px;
  }
  .hero-text__description {
    font-size: 14px;
    line-height: 18px;
    width: 201px;
  }
  .hero-text__btn {
    background-color: #f6bf52;
    padding: 21px 51px;
    position: relative;
    margin-top: 312px;
  }
  .hero-burger__text {
    display: none;
    position: absolute;
    z-index: 7000000;
    width: 335px;
    height: 226px;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.8);
    top: 92px;
    left: 50%;
    transform: translate(-50%, 0);
    transition: 0.2 ease-in;
  }
  .hero-burger__nav {
    padding: 40px 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .hero-burger__nav a,
  .hero-burger__btn p {
    font-size: 14px;
    line-height: 17.5px;
  }
  .hero-burger__nav a {
    width: 100%;
  }
  .hero-burger__nav a:nth-child(2) {
    margin: 30px 0 40px 0;
  }
  /* clicking on burger */
  .hero-burger__text--clicked {
    display: flex;
  }
  .header-burger--cross {
    display: none;
  }
  /* carousel mobile */
  .carousel-tablet__container {
    background-color: #fefaed;
  }
  .carousel-tablet__wrap,
  .team__wrap,
  .contact__wrap {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-tablet__heading {
    text-align: center;
  }
  .carousel-tablet__text h2 {
    width: 334px;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .carousel-tablet__text p {
    width: 290px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }
  .carousel-tablet {
    height: 792px;
  }
  .item {
    width: 335px;
    border: 1px solid #211e1b;
    height: 600px;
    margin-bottom: 30px;
    background-color: white;
  }
  .item-img {
    width: 334px;
    height: 220px;
    background-position-x: -123px;
    background-position-y: -111px;
    background-size: 157%;
    border-bottom: 1px solid #211e1b;
  }

  .item-text {
    height: 319px;
    padding: 40px 25px 38px 25px;
  }
  .item p:first-child {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .item-text h4 {
    width: 220px;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 12px;
    margin-top: 30px;
  }
  .item-text p {
    font-size: 14px;
    line-height: 18px;
  }
  .item p:nth-child(2) {
    width: 287px;
  }
  .item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #211e1b;
    height: 60px;
    color: #fff;
    width: 335px;
  }
  .owl-nav {
    display: none;
  }
  .owl-dots {
    display: flex;
    justify-content: flex-start;
  }

  .owl-dots button:first-child span {
    width: 80px !important;
    height: 1px !important;
    margin: 0px !important;
  }
  .owl-dots button:nth-child(2) span,
  .owl-dots button:nth-child(3) span,
  .owl-dots button:nth-child(4) span {
    width: 20px !important;
    height: 1px !important;
    margin: 0px !important;
    margin-left: 10px !important;
  }
  .owl-dot span {
    background: #c4c4c4 !important;
  }
  .active span {
    background-color: #211e1b !important;
  }
  /* team */
  .team {
    height: 2383px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }
  .team__text {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__text h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .team__description {
    display: none;
  }
  .team__description--mobile {
    width: 315px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 45px;
  }
  .card__avatar {
    width: 335px;
    height: 335px;
    background-size: cover;
  }

  .card__heading {
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 28px;
  }
  .card__p {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }
  .card__btn--tablet {
    width: 335px;
    height: 60px;
    margin-top: 23px;
    margin-bottom: 40px;
    background-color: #fff;
  }
  /* contact */
  .contact-left__text-upper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact {
    height: 1000px;
    background-image: url("../assets/images/background/IllustrationFooter.png");
    background-position: -39px center;
    background-size: 355% 100%;
    background-repeat: no-repeat;
    padding-top: 80px;
    text-align: center;
  }
  .contact-left__heading-box {
    width: 270px;
    margin-bottom: 16px;
  }
  .contact-left__heading-box p {
    font-size: 32px;
    line-height: 38px;
    font-family: "Lexend";
    text-align: center;
  }
  .contact-left__heading {
    font-size: 36px;
    line-height: 38px;
    font-family: "STIX";
  }
  .contact-left__paragraph-box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .contact-left__paragraph-box p {
    width: 335px;
    font-size: 14px;
    line-height: 18px;
  }
  .contact__text-right {
    width: 335px;
    height: 210px;
    background-color: white;
    border: 1px solid #211e1b;
    position: relative;
    top: -95px;
    padding: 30px 0 26px 30px;
  }
  .contact__text-lower {
    position: relative;
    top: 210px;
    margin-top: 19px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    width: 335px;
  }
  .contact-left__heading-box h1 {
    text-align: left;
  }
  .contact__paragpraph-rightbox {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 66px;
  }
  .contact__paragpraph-rightbox p {
    opacity: 1;
  }
  .contact__info {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .contact__info a {
    font-family: "STIX";
    font-size: 24px;
    line-height: 30px;
    text-transform: lowercase;
    letter-spacing: -1px;
  }
  .contact-left__heading-box-lower h1 {
    font-size: 21px;
    line-height: 26.25px;
  }
  .contact-left__heading-box-lower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 18px;
  }
  .contact-left__heading-box-lower p {
    font-size: 14px;
    line-height: 17.5px;
  }
  .contact-left-lower__paragraph-box p:nth-child(3),
  .lower__paragraph--middle {
    display: none;
  }
  .contact-left-lower__paragraph-box p {
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    width: 300px;
  }

  /*      */
}
.header-burger--cross {
  display: none;
}

@media (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    width: 708px;
    height: 91px;
    padding: 0 30px;
    position: initial;
  }
  .header__logo {
    width: 106px;
    height: 21px;
  }
  .header-burger {
    display: none;
  }
  .hero-burger__text {
    display: none;
  }
  .header__link--middle {
    margin-left: 32px;
    margin-right: 86px;
  }
  .header__link,
  .header__btn-description {
    font-size: 14px;
    line-height: 17.5px;
  }
  .header__btn {
    width: 130px;
    height: 50px;
    background-color: #211e1b;
  }
  .hero__container {
    height: 100vh;
    width: 100%;
  }
  .hero-text {
    margin-top: 76px;
  }
  .hero-text__heading {
    max-width: 578px;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero-text__description {
    max-width: 380px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .hero-text__btn {
    background-color: #f6bf52;
    padding: 21px 28px;
    position: relative;
  }
  .hero-text__btn p {
    font-size: 14px;
    line-height: 18px;
  }
  .carousel-tablet__container {
    height: 1170px;
    padding-top: 140px;
    padding-bottom: 102px;
    background-color: #fefaed;
  }
  .carousel-tablet__wrap {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-tablet__text h2 {
    font-size: 56px;
    line-height: 56px;
    width: 582px;
    margin-bottom: 16px;
  }
  .carousel-tablet__text p {
    font-size: 18px;
    line-height: 24px;
    width: 455px;
    margin-bottom: 40px;
  }
  .owl-stage {
    width: 3000px !important;
  }
  .item {
    background-color: white;
    width: 637px;
    height: 712px;
    border: 1px solid #211e1b;
    margin-right: 30px;
  }
  .item-img {
    height: 280px;
    width: 635px;
    border-bottom: 1px solid #211e1b;
    background-position-x: -170px;
    background-position-y: -219px;
    background-size: 147%;
  }
  .owl-theme .owl-nav {
    top: -908px !important;
    left: 581px !important;
    position: relative;
    width: 126px !important;
    margin: 0 !important;
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    display: flex;
  }
  .owl-nav button {
    width: 55px;
    height: 55px;
    background: none !important;
    color: inherit !important;
    border: 1px solid black !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
    margin: 0px !important;
  }
  .owl-nav button:nth-child(1) {
    background-image: url("../assets/Icons/Arrow\ Left.png") !important;
    margin-right: 16px !important;
  }
  .owl-nav button:nth-child(2) {
    background-image: url("../assets/Icons/Arrow\ Right.png") !important;
  }
  .owl-nav button span {
    display: none !important;
  }
  .item-text {
    height: 362px;
    width: 637px;
    padding: 50px 0 60px 70px;
  }
  .item-text p {
    font-size: 16px;
    line-height: 22px;
    width: 510px;
  }
  .item-text p:first-child {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  .item-text h4 {
    font-size: 42px;
    line-height: 46px;
    width: 400px;
    margin-bottom: 20px;
  }
  .item-btn {
    height: 70px;
    width: 637px;
    background-color: #211e1b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  .team {
    height: 1528px;
    padding-top: 140px;
  }
  .team__wrap {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
  .team__text h2 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 16px;
  }
  .team__description--mobile {
    display: none;
  }
  .team__description {
    width: 526px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .cards {
    display: flex;
    margin-bottom: 60px;
  }
  .left {
    margin-right: 20px;
  }
  .card__avatar {
    width: 344px;
    height: 344px;
    background-size: cover;
  }
  .card__heading {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 36px;
    line-height: 36px;
  }
  .card__p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  .card__btn--tablet {
    background-color: white;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
  }
  .contact {
    height: 1310px;
    background-image: url("../assets/images/background/ipad/Illustration\ Footer.png");
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    background-repeat: no-repeat;
  }
  .contact__wrap {
    width: 708px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-left__heading-box {
    width: 500px;
    margin-bottom: 40px;
  }
  .contact-left__heading-box p {
    font-size: "Lexend";
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -1px;
  }
  .contact-left__heading-box span {
    font-family: "STIX";
    font-size: 65px;
    line-height: 62px;
  }
  .contact-left__paragraph-box p {
    font-size: 18px;
    line-height: 24px;
    width: 526px;
    margin-bottom: 60px;
  }
  .contact__text-right {
    width: 708px;
    height: 310px;
    background-color: white;
    border: solid 1px #211e1b;
    padding: 50px 0 45px 50px;
    position: relative;
    top: -60px;
  }
  .contact__paragpraph-rightbox p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: underline;
  }
  .contact__paragpraph-rightbox {
    margin-bottom: 50px;
  }
  .contact__info,
  .contact-left-lower__paragraph-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .contact__info a {
    font-family: "STIX";
    font-size: 56px;
    line-height: 70px;
    text-transform: lowercase;
  }
  .contact__info a:first-child {
    margin-bottom: 7px;
  }
  .contact__text-lower {
    position: relative;
    top: 334px;
    display: flex;
    margin-top: 24px;
  }
  .contact-left__heading-box-lower h1 {
    font-size: 21px;
    line-height: 26.25px;
    margin-right: 60px;
  }
  .lower__paragraph--phone {
    display: none;
  }
  .contact-left-lower__paragraph-box {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17.5px;
  }
  .lower__paragraph--middle {
    margin: 0 16px;
  }
}
@media (min-device-width: 1024px) and (max-device-width: 1439px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    width: 944px;
    height: 80px;
    padding: 0 40px;
  }
  .header__logo {
    width: 106px;
    height: 21px;
  }
  .header-burger {
    display: none;
  }
  .header__link--middle {
    margin: 0 32px;
  }
  .header__link,
  .header__btn-description {
    font-size: 14px;
    line-height: 18px;
  }
  .header__btn {
    width: 150px;
    height: 44px;
    background-color: #211e1b;
  }
  .header__btn p {
    padding: 13px 34px;
    color: #fff;
  }
  .hero__container {
    height: 100vh;
    width: 100%;
  }
  .hero-text {
    margin-top: 170px;
  }
  .hero-text__heading {
    max-width: 551px;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero-burger__text {
    display: none;
  }
  .hero-text__description {
    max-width: 374px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
  }
  .hero-text__btn {
    background-color: #f6bf52;
    padding: 21px 28px;
    position: relative;
  }
  .hero-text__btn p {
    font-size: 14px;
    line-height: 18px;
  }
  .carousel-tablet__container {
    height: 768px;
    background-color: #fefaed;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  /* one margin */
  .carousel-tablet__wrap {
    width: 984px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-tablet__text {
    width: 682px;

    margin-bottom: 80px;
  }
  .carousel-tablet__text h2 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 16px;
  }
  .carousel-tablet__text p {
    font-size: 18px;
    line-height: 24px;
  }
  .item {
    padding-right: 75px;
    width: 799px;
    height: 480px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
  }
  .item-img {
    width: 390px;
    height: 390px;
    background-position: center;
    background-size: cover;
    margin-right: 33px;
  }
  .item-text {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 360px;
  }
  .item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-text p {
    font-size: 14px;
    line-height: 20px;
    width: 300px;
  }
  .item-text p:first-child {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 40px;
    text-decoration: underline;
  }
  .item-text h4 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 16px;
  }
  .item-btn {
    display: none;
  }
  .item-btn--laptop {
    margin-top: 40px;
    width: 190px;
    height: 54px;
    background-color: #211e1b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  .owl-theme .owl-nav {
    top: -628px !important;
    left: 683px !important;
    position: relative;
    width: 126px !important;
    margin: 0 !important;
    margin-left: 136px !important;
  }
  .owl-stage-outer {
    border-right: 1px solid black !important;
  }
  .owl-dots {
    display: none;
  }
  .owl-nav {
    display: flex;
  }
  .owl-nav button {
    width: 55px;
    height: 55px;
    background: none !important;
    color: inherit !important;
    border: 1px solid black !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: inherit !important;
    margin: 0px !important;
  }
  .owl-nav button:first-child {
    margin-right: 16px !important;
  }

  .team {
    height: 1202px;
    padding-top: 100px;
  }
  .team__wrap {
    width: 654px;
    margin-right: auto;
    margin-left: auto;
  }
  .team__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .team__text h2 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 16px;
  }
  .team__description--mobile {
    display: none;
  }
  .team__text p {
    width: 526px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }
  .cards {
    display: flex;
    margin-bottom: 40px;
  }
  .card__avatar {
    width: 307px;
    height: 307px;
    background-size: cover;
  }
  .left {
    margin-right: 40px;
  }
  .card__text h3 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 22px;
    margin-bottom: 8px;
  }
  .card__text p {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  .card__btn--tablet {
    display: none;
  }
  .contact {
    height: 840px;
    padding-top: 80px;
    background-image: url("../assets/images/background/laptop/IllustrationFooter.png");
    background-position: center center;
    background-size: cover;
  }
  .contact__wrap {
    width: 944px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__text-left {
    width: 465px;
  }
  .contact-left__heading-box {
    margin-bottom: 30px;
  }
  .contact-left__heading-box p {
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -1px;
  }
  .contact-left__heading-box span {
    font-size: 65px;
    line-height: 62px;
    font-family: "STIX";
    letter-spacing: -1px;
  }
  .contact__texts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .contact-left__paragraph-box p {
    font-size: 18px;
    line-height: 24px;
  }
  .contact-left__text-upper {
    margin-bottom: 79px;
  }
  .contact__text-right {
    background-color: white;
    width: 400px;
    height: 240px;
    border: 1px solid black;
    padding: 24px 26px 20px 24px;
  }
  .contact__paragpraph-rightbox p {
    font-size: 14px;
    line-height: 18px;
    text-decoration: underline;
    opacity: 1;
  }
  .contact__paragpraph-rightbox {
    margin-bottom: 86px;
  }
  .contact__info a {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -1px;
    font-family: "STIX";
    text-transform: lowercase;
  }
  .contact__info a:first-child {
    margin-bottom: 20px;
  }
  .contact__text-lower,
  .contact-left-lower__paragraph-box {
    display: flex;
  }
  .lower__paragraph--phone {
    display: none;
  }
  .contact-left__heading-box-lower h1 {
    font-size: 24px;
    line-height: 30px;
    margin-right: 282px;
  }
  .contact-left-lower__paragraph-box p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
  .contact__text-lower,
  .contact-left-lower__paragraph-box {
    display: flex;
    align-items: center;
    width: 944px;
  }
  .lower__paragraph--middle {
    margin: 0 16px;
  }
}
@media (min-device-width: 1440px) and (max-device-width: 1919px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    padding: 0 40px;
    width: 1096px;
    height: 80px;
  }
  .header__logo {
    width: 106px;
    height: 21px;
  }
  .header-burger {
    display: none;
  }
  .header__link--middle {
    margin: 0 32px;
  }
  .header__link,
  .header__btn-description {
    font-size: 14px;
    line-height: 18px;
  }
  .header__btn {
    width: 150px;
    height: 44px;
    background-color: #211e1b;
  }
  .hero__container {
    height: 100vh;
    width: 100%;
  }
  .hero-burger__text {
    display: none;
  }
  .hero-text {
    margin-top: 190px;
  }
  .hero-text__heading {
    max-width: 588px;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero-text__description {
    max-width: 374px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .hero-text__btn {
    background-color: #f6bf52;
    padding: 21px 28px;
    position: relative;
  }
  .hero-text__btn p {
    font-size: 14px;
    line-height: 18px;
  }
  .carousel-tablet__container {
    display: none;
  }
  .carousel {
    display: block;
    height: 100vh;
  }
  /* carousel */
  .carousel {
    background-color: #fefaed;
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 90px;
    justify-content: center;
  }
  .carousel__nav {
    display: flex;
    width: 1320px;
    justify-content: space-between;
  }
  .carousel__text h2 {
    font-size: 56px;
    line-height: 56px;
  }
  .carousel__text p {
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 50px;
    line-height: 24px;
  }
  .carousel__btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
  }
  .carousel_btns {
    display: flex;
  }
  .carousel__btn-img--prev {
    background-image: url("../assets/Icons/Arrow\ Left.png");
    margin-right: 10px;
  }
  .carousel__btn-img--next {
    background-image: url("../assets/Icons/Arrow\ Right.png");
    margin-left: 10px;
  }
  .slideshow {
    width: 1320px;
    height: 600px;
    overflow: hidden;
    border-right: black 2px solid;
    border-left: black 1px solid;
  }
  /* holder  x*/
  .holder {
    position: relative;
    top: 0;
    left: 0;
    width: 7295px;
    height: 780px;
    transition: left 2.25s ease-in-out;
  }
  .holder__slide {
    width: 1018px;
    height: 600px;
    float: left;
    margin-right: 40px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
  }
  .slide__p-top {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  .slide__p-bottom {
    margin-top: 24px;
    margin-bottom: 76px;
  }
  .slide__imagebox {
    padding-top: 25px;
    margin-right: 40px;
    width: 550px;
    height: 550px;
  }
  .slide__text {
    padding-top: 120px;
    width: 350px;
    height: 366px;
    transition: 2.4s ease-in-out;
    color: white;
  }
  .current__text {
    color: #211e1b;
  }
  .slide__text p {
    font-size: 14px;
  }
  .slide__text h4 {
    font-size: 36px;
    line-height: 36px;
  }
  .slide__button__current {
    color: #fff;
    background-color: #211e1b;
    width: 190px;
    height: 60px;
    transition: 2.4s ease-in-out;
  }
  .slide__button {
    color: white;
    background-color: white;
    width: 190px;
    height: 60px;
    border: 1px solid white;
    transition: 2.4s ease-in-out;
  }
  .slide__button--next {
    color: #211e1b;
  }
  /* slides backgrounds */
  .slide1 {
    background-image: url("../assets/images/carousel/01.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    height: 501px;
    width: 560px;
    /* ? */
    transition: 2.7s ease-out;
    background-size: 160%;
    background-position-x: -273px;
    background-position-y: -63px;
  }
  .slide2 {
    background-image: url("../assets/images/carousel/02.png");
  }
  .slide3 {
    background-image: url("../assets/images/carousel/03.png");
  }
  .slide4 {
    background-image: url("../assets/images/carousel/04.png");
  }
  .slide5 {
    background-image: url("../assets/images/carousel/01.png");
  }
  /* preview slide */

  .holder__slide--preview {
    width: 375px;
    height: 780px;
    border: 1px solid black;
  }
  .slide__image-heading {
    width: 1305px;
    display: flex;
    align-content: center;
    height: 100px;
    border-top: 1px solid black;
    transition: 1.7s ease-out;
  }
  .slide__image-heading h4 {
    margin-top: 24px;
    margin-left: 70px;
    font-size: 18px;
    line-height: 24px;
    font-family: "Lexend";
    letter-spacing: 0px;
    width: 200px;
  }
  .slide-p4,
  .slide-p3 {
    margin-top: 24px;
    margin-bottom: 76px;
  }
  .slide-p2 {
    margin-top: 24px;
    margin-bottom: 122px;
  }
  .slide-p1 {
    margin-top: 16px;
  }
  .slide__heading-top {
    font-size: "STIX";
  }
  /* next slide transformation */
  .slide--next {
    height: 800px;
    border: none;
    background-size: 100%;
    background-position: 0 0;
  }
  .slide__image-heading--next {
    border: 1px solid white;
    color: white;
    transition: 1.2s;
  }
  .slide__text--next {
    color: #211e1b;
  }
  .slide__button--next {
    color: #fff;
    background-color: #211e1b;
    border: 1px solid #211e1b;
  }
  .team {
    height: 1390px;
    padding-top: 120px;
  }
  .team__wrap {
    width: 781px;
    margin-left: auto;
    margin-right: auto;
  }
  .team__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .team__description--mobile {
    display: none;
  }
  .team__text h2 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .team__description {
    width: 515px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .cards {
    display: flex;
    margin-bottom: 60px;
  }
  .left {
    margin-right: 60px;
  }
  .card__avatar {
    width: 360px;
    height: 360px;
    background-size: cover;
  }
  .card__text {
    text-align: left;
  }
  .card__text h3 {
    margin-top: 24px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .card__text p {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
  }
  .card__btn--tablet {
    display: none;
  }
  .contact {
    height: 920px;
    background-image: url("../assets/images/background/IllustrationFooter.png");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
  }
  .contact__wrap {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__texts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .contact-left__heading-box p {
    font-family: "Lexend";
    font-size: 56px;
    line-height: 62px;
    letter-spacing: -1px;
  }
  .contact-left__heading-box span {
    font-size: 65px;
    line-height: 62px;
    font-family: "STIX";
    letter-spacing: -1px;
  }
  .contact-left__heading-box {
    width: 500px;
    margin-bottom: 40px;
  }
  .contact-left__paragraph-box p {
    font-size: 18px;
    line-height: 24px;
    width: 558px;
    margin-bottom: 80px;
  }
  .contact__text-right {
    width: 505px;
    height: 320px;
    background-color: white;
    margin-right: 40px;
    border: 1px solid black;
    padding: 40px 0 35px 40px;
  }
  .contact__paragpraph-rightbox p {
    text-decoration: underline;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 119px;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__info a {
    font-family: "STIX";
    font-size: 42px;
    line-height: 46px;
    letter-spacing: -1px;
    text-transform: lowercase;
  }
  .contact-left__heading-box-lower h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .lower__paragraph--phone {
    display: none;
  }
  .contact-left-lower__paragraph-box {
    display: flex;
  }
  .contact-left-lower__paragraph-box p {
    font-size: 14px;
    line-height: 18px;
  }
  .lower__paragraph--middle {
    margin: 0 16px;
  }
}
@media (min-device-width: 1920px) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    padding: 0 40px;
    width: 1430px;
    height: 91px;
  }
  .header__logo {
    width: 106px;
    height: 21px;
  }
  .header__link--middle {
    margin: 0 40px;
  }
  .header__link,
  .header__btn-description {
    font-size: 14px;
    line-height: 18px;
  }
  .header__btn {
    width: 150px;
    height: 50px;
    background-color: #211e1b;
  }
  .hero__container {
    height: 100vh;
    width: 100%;
  }
  .hero-text {
    margin-top: 228px;
  }
  .hero-burger__text {
    display: none;
  }
  .hero-text__heading {
    max-width: 790px;
    font-size: 76px;
    line-height: 72px;
    margin-bottom: 32px;
  }
  .hero-text__description {
    max-width: 438px;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 60px;
  }
  .hero-text__btn {
    background-color: #f6bf52;
    padding: 24px 34px;
    position: relative;
  }
  .hero-text__btn p {
    font-size: 16px;
    line-height: 22px;
  }
  .carousel-tablet__container {
    display: none;
  }
  /* carousel */
  .carousel {
    background-image: url("../assets/images/background/Illustration\ BG.png");
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 120px;
    justify-content: center;
    height: 1194px;
    background-color: #fefaed;
  }
  .carousel__nav {
    display: flex;
    width: 1720px;
    justify-content: space-between;
  }
  .carousel__text p {
    margin-top: 24px;
    margin-bottom: 50px;
    line-height: 28px;
  }
  .carousel__btn {
    width: 65px;
    height: 65px;
    border: 0px;
  }
  .carousel_btns {
    display: flex;
  }
  .carousel__btn-img--prev {
    background-image: url("../assets/Icons/Arrow\ Left.png");
    margin-right: 10px;
    border-right: 1px solid black;
  }
  .carousel__btn-img--next {
    background-image: url("../assets/Icons/Arrow\ Right.png");
    margin-left: 10px;
  }
  .slideshow {
    width: 1720px;
    height: 780px;
    overflow: hidden;
    border-right: black 2px solid;
    border-left: black 1px solid;
  }
  /* holder  x*/
  .holder {
    position: relative;
    top: 0;
    left: 0;
    width: 7295px;
    height: 780px;
    transition: left 2.25s ease-in-out;
  }
  .holder__slide {
    width: 1305px;
    height: 780px;
    float: left;
    margin-right: 100px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
  }
  .slide__p-top {
    margin-top: 160px;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  .slide__p-bottom {
    margin-top: 24px;
    margin-bottom: 76px;
  }
  .slide__imagebox {
    margin-right: 40px;
    width: 740px;
    height: 740px;
  }
  .slide__text {
    width: 420px;
    height: 478px;
    transition: 2.4s ease-in-out;
    color: white;
  }
  .current__text {
    color: #211e1b;
  }
  .slide__text p {
    font-size: 16px;
  }
  .carousel__text h2 {
    font-size: 76px;
    line-height: 72px;
  }
  .slide__text h4 {
    font-size: 42px;
    line-height: 46px;
  }
  .slide__button__current {
    color: #211e1b;
    background-color: white;
    width: 250px;
    height: 70px;
    transition: 2.4s ease-in-out;
  }
  .slide__button {
    color: white;
    background-color: white;
    width: 250px;
    height: 70px;
    border: 1px solid white;
    transition: 2.4s ease-in-out;
  }
  .slide__button--next {
    color: #211e1b;
  }
  /* slides backgrounds */
  .slide1 {
    background-image: url("../assets/images/carousel/01.png");
  }
  .slide2,
  .slide3,
  .slide4,
  .slide5 {
    height: 650px;
    width: 720px;
    transition: 2.7s ease-out;
    background-size: 150%;
    background-position-x: -350px;
    background-position-y: -215px;
  }
  .slide2 {
    background-image: url("../assets/images/carousel/02.png");
  }
  .slide3 {
    background-image: url("../assets/images/carousel/03.png");
  }
  .slide4 {
    background-image: url("../assets/images/carousel/04.png");
  }
  .slide5 {
    background-image: url("../assets/images/carousel/01.png");
  }
  .holder__slide1,
  .holder__slide2,
  .holder__slide3,
  .holder__slide4 {
    border-bottom: 6px solid;
  }
  .holder__slide1 {
    border-color: #1d57b1;
  }
  .holder__slide2 {
    border-color: #f789a7;
  }
  .holder__slide3 {
    border-color: #7ddaef;
  }
  .holder__slide4 {
    border-color: #f6bf52;
  }
  /* preview slide */

  .holder__slide--preview {
    width: 375px;
    height: 780px;
    border: 1px solid black;
  }
  .slide__image-heading {
    width: 1305px;
    display: flex;
    align-content: center;
    height: 130px;
    border-top: 1px solid black;
    transition: 1.7s ease-out;
  }
  .slide__image-heading h4 {
    margin-top: 24px;
    margin-left: 30px;
    font-size: 24px;
    font-size: Lexend;
    width: 305px;
  }
  .slide-p4,
  .slide-p3 {
    margin-top: 24px;
    margin-bottom: 76px;
  }
  .slide-p2 {
    margin-top: 24px;
    margin-bottom: 122px;
  }
  .slide-p1 {
    margin-top: 24px;
    margin-bottom: 100px;
  }
  /* next slide transformation */
  .slide--next {
    height: 800px;
    border: none;
    background-size: 100%;
    background-position: 0 0;
  }
  .slide__image-heading--next {
    border: 1px solid white;
    color: white;
    transition: 1.2s;
  }
  .slide__text--next {
    color: #211e1b;
  }
  .slide__button--next {
    color: #211e1b;
    border: 1px solid #211e1b;
  }
  .team {
    height: 1702px;
    padding-top: 120px;
  }
  .team__wrap {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  .team__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .team__description--mobile {
    display: none;
  }
  .team__text h2 {
    font-size: 76px;
    line-height: 72px;
    margin-bottom: 32px;
  }
  .team__description {
    width: 635px;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 80px;
  }
  .cards {
    display: flex;
    margin-bottom: 60px;
  }
  .left {
    margin-right: 62px;
  }
  .card__avatar {
    width: 470px;
    height: 470px;
    background-size: cover;
  }
  .card__text {
    text-align: left;
  }
  .card__text h3 {
    margin-top: 32px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  .card__text p {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 22px;
  }
  .card__btn--tablet {
    display: none;
  }
  .contact {
    height: 1200px;
    background-image: url("../assets/images/background/desktop/IllustrationFooter.png");
    background-position: center bottom;
    background-size: cover;
    padding-top: 140px;
  }
  .contact__wrap {
    width: 1720px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact__texts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .contact-left__heading-box p {
    font-family: "Lexend";
    font-size: 80px;
    line-height: 82px;
    letter-spacing: -1px;
  }
  .contact-left__heading-box span {
    font-size: 86px;
    line-height: 82px;
    font-family: "STIX";
    letter-spacing: -1px;
  }
  .contact-left__heading-box {
    width: 680px;
    margin-bottom: 32px;
  }
  .contact-left__paragraph-box p {
    font-size: 21px;
    line-height: 28px;
    width: 695px;
    margin-bottom: 90px;
  }
  .contact__text-right {
    width: 705px;
    height: 420px;
    background-color: white;
    border: 1px solid black;
    padding: 50px 0 43px 50px;
  }
  .contact__paragpraph-rightbox p {
    text-decoration: underline;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 161px;
  }
  .contact__info {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__info a {
    font-family: "STIX";
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1px;
    text-transform: lowercase;
  }
  .contact-left__heading-box-lower h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }
  .lower__paragraph--phone {
    display: none;
  }
  .contact-left-lower__paragraph-box {
    display: flex;
  }
  .contact-left-lower__paragraph-box p {
    font-size: 16px;
    line-height: 12px;
  }
  .lower__paragraph--middle {
    margin: 0 16px;
  }
}
